<!-- primary author: anuhyag -->
<%
	resource1 = resource1 || Description.create(title: "No Title", content: "No resource provided")
	resource2 = resource2 || Description.create(title: "No Title 2", content: "No second resource provided")
	bid = bid || 0
	# showMode is true when showing, or false for editing
	showMode = showMode || false
%>

<div class="row">
   
        <div class="chosen_template_square4" data-pos=3>
        	<% if showMode %>
				<%= render resource1 %>
			<% else %>
				<%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 3, div_class: "btn-group2" } %>
			<% end %>
            
        </div>
        <div class="chosen_template_square4" data-pos=4>
        	<% if showMode %>
				<%= render resource2 %>
			<% else %>
				<%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 4, div_class: "btn-group2" } %>
			<% end %>
            
        </div>
</div>