<!-- primary author: anuhyag -->
<%
	resource1 = resource1 || Description.create(title: "No Title", content: "No resource provided")
%>

<div class = "template1" id = "template1">
    <div class="row">
		<div class = "col-md-1"></div>

		<div class = "col-md-10 resource resource1">
			<%= render resource1 %>
		</div>

		<div class = "col-md-1"></div>
    </div>
</div>
