<!-- primary author: anuhyag -->
<%
	image1_src = image1_src || "/test.jpg"
	image2_src = image2_src || "/test.jpg"
%>
<div class = "template3" id = "template3">
	<div class = "image">
		<div class="thumbnail span5" style="border: 5px solid black;">
			<img src=<%= image1_src %> alt="Sample Image">
		</div>
	</div>
	<div class ="span1">
		<p></p>
	</div>
	<div class = "image">
		<div class="thumbnail span5" style="border: 5px solid black;">
			<img src=<%= image2_src %> alt="Sample Image">
		</div>
	</div>
</div>