<!-- primary author: anuhyag -->
<%
	image1_src = image1_src || "/test.jpg"
	text1 = text1 || "<text here>"
%>
<div class = "template2" id = "template2">
	<div class = "text">
		<div class = "span5">
			<p class="text-box"> <%= text1 %><p>
		</div>
	</div>
	<div class="span1">
		<p> </p>
	</div>
	<div class = "image">
		<div class="thumbnail span5" style="border: 5px solid black;">
			<img src=<%= image1_src %> alt="Sample Image">
		</div>
	</div>
</div>