<!-- primary author: anuhyag -->
<%
	text1 = text1 || "<text here>"
%>
<div class = "template4" id = "template4">
	<div class = "span3">
		<p>  <p>
	</div>
	<div class = "image">
		<div class = "span6">
			<p class="text-box"> <%= text1 %> <p>
		</div>
	</div>
	<div class = "span3">
		<p>  <p>
	</div>
</div>