<!-- primary author: anuhyag -->
<%
	resource1 = resource1 || Description.create(title: "No Title", content: "No resource provided")
	resource2 = resource2 || Description.create(title: "No Title 2", content: "No second resource provided")
%>

<div class = "template3" id = "template3">
	<div class="row-fluid">
		<div class="span1">
		</div>
		<div class="span10">
			<div class="row-fluid">
			    <div class = "col-md-12 resource resource1">
					<%= render resource1 %>
				</div>
			</div>
			<div class="row-fluid">
			    <div class = "col-md-12 resource resource1">
					<%= render resource2 %>
				</div>
			</div>
		</div>
		<div class="span1">
		</div>
	</div>
</div>
