<!-- primary author: anuhyag -->
<div class = "template1" id = "template1">
	<div class = "image">
		<div class="thumbnail span5" style="border: 5px solid black;">
			<img src="/test.jpg" alt="Sample Image">
		</div>
	</div>
	<div class="span1">
		<p></p>
	</div>
	<div class = "text">
		<div class = "span5">
			<p class="text-box"> this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test. <p>
		</div>
	</div>
</div>