<!-- primary author: anuhyag -->
<%
	resource1 = resource1 || Description.create(title: "No Title", content: "No resource provided")
    bid = bid || 0
    # showMode is true when showing, or false for editing
    showMode = showMode || false
%>

<div class= "template1_chosen_square" id="template_1_chosen_square" data-pos=0 >
    <% if showMode %>
        <%= render resource1 %>
    <% else %>
        <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 0 } %>
    <% end %>
</div>
	    

<script>
 	var videoColor = document.getElementById("template_1_chosen_square");
 	console.log("hello",videoColor);
 	videoColor.style.background.color = "black"; //to change the font color
 	videoColor.style.border.color = "black";
</script>
