<%#  primary author: anuhyag %>
<% (1..2).each do |n| %>

  <% 
    template_partial = get_template_partial_name(n)
    code_resources = {resource1: Code.new(gist_id: "42bcd5115522be84ff3d")}

  %>

  <div class = "row-fluid add-space">
    <h1> Template <%= n %> </h1>
    <div class="span12">
      <%= render partial: template_partial %>
    </div>
  </div>

  <div class = "row-fluid add-space">
    <h1> Template <%= n %> With Code </h1>
    <div class="span12">
      <%= render partial: template_partial, code_resources %>
    </div>
  </div>


<% end %>

