<%#  primary author: saylorp %>
<%
    template_partial = get_template_partial_name(@id)
%>

<div class = "row-fluid add-space">
  <h1> Template <%= @id %> </h1>
  <div class="span12">
        <%= render partial: template_partial %>
  </div>
</div>
