<!-- primary author: anuhyag -->
<div class = "template4" id = "template4">
	<div class = "span3">
		<p>  <p>
	</div>
	<div class = "image">
		<div class = "span6">
			<p class="text-box"> this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test.
				this is a test.this is a test.this is a test.this is a test. <p>
		</div>
	</div>
	<div class = "span3">
		<p>  <p>
	</div>
</div>