<div class="jumbotron" style="background-color:#BAEBE1">
  <div class="row">
    <div class="col-md-3 portfolio_user_image_container centering">
	<img src=<%= @portfolio.user.image_url %> alt="Sample Image" class="portfolio_user_image">
    </div>
    <div class="col-md-9">
      <div class="portfolio_name">
	<h1 style="font-weight:200"><%= current_user.fullname%></h1>
	<% if @user == current_user %>
	  <%= button_to 'Create New Project', new_project_path,:method => "get", :class => "btn btn-md btn-primary" %> 
	<% end %>
      </div>
    </div>
  </div>
</div>

<%# List all the projects in image-text templates %>
<% @projects.each do |project| %>
  <div class = "row-fluid add-space">
    <div class="col-md-12">
      <%= render partial: "projectOverview", locals: {project: project} %>
    </div>
  </div>
<% end %>
<br/>
