<%# Primary Author: psaylor %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> <%= description.title %> </h3>
    </div>
    <div class="panel-body">
        <%= simple_format(description.content) %>
    </div>
</div>