<!-- # Primary Author: anuhyag -->
<%= bootstrap_form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div id ="sign_up_form" class="field">
    <%= f.text_field :fullname, :placeholder => "Full Name" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
