<!-- Primary author: anuhyag -->
<div class = "home_page_div">
	<div class="form_field">
    	<div class="span6 offset3">
			<%= render 'form' %>
			<%= link_to 'Already A User? Login Here!', signin_path %>
		</div>
	</div>
</div>