<div class="video-class" id="video-class">
	<%= video.video_html %>
</div>

<script>
	w = 550
	h = 550
	var curr_height = $("#video-class").height();
	var new_height = (h - curr_height)/2;
	console.log("video height", curr_height);
	console.log("new height", new_height);

	var curr_width = $("#video-class").width();
	var new_width = (w - curr_width)/2;
	console.log("video width", curr_width);
	console.log("new width", new_width);

	$("#video-class").css("padding-top", new_height);

	$("#video-class").css("padding-bottom", new_height);
	$("#video-class").css("padding-right", new_width);
	$("#video-class").css("padding-left", new_width);

</script>