<%#  primary author: psaylor %>
<%
    template_partial = get_template_partial_name(block.template_id)
    resources = get_resources_for_template(block)
%>

<div class="">
    <%= render partial: template_partial, locals: resources %>
</div>
