<%#  primary author: psaylor %>
<%
    template_partial = get_template_partial_name(block.template_id)
    resources = get_resources_for_template(block)
    resources[:showMode] = true
    temp = temp || false
    resources[:temp] = temp
    color_name = color_name || "dark-gray"
    color_hex = color_hex || "#343838"
    last = last || false  
%>

<section style="<%= "background-color: #{color_hex};" %>">
    <div class="margin_top">
        <div class="container">
            <%= render partial: template_partial, locals: resources  %>
        </div>
    </div>
    <% unless last %>
        <div class="<%= "bottom-hint bottom-hint-#{color_name}" %>">
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="<%= "bottom-padding bottom-padding-#{color_name}" %>"></div>
    <% end %>
</section>