<h1>Listing blocks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= link_to 'Show', project_block_path(@project, block) %></td>
        <td><%= link_to 'Edit', edit_project_block_path(@project, block) %></td>
        <td><%= link_to 'Destroy', [@project, block], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block', new_project_block_path %>
