<h1>New block</h1>

<%= render 'form' %>

<%= link_to 'Back', project_blocks_path %>

   
    </div>

    <ul>
    <% @gist_ids.each do |gid| %>
        <li><%= gid %></li>
    <% end %>
    </ul>

    </div>