<!-- primary author: anuhyag -->
<div class = "new_block_template_choice" id = "new_block_template_choice">
    
    <div class="row">
		
		<div class = "col-md-4">
			<div class="thumbnail">
				<%= image_tag "center.png"%>
			</div>
		</div>
	    
		<div class = "col-md-4">
			<div class="thumbnail">
				<%= image_tag "horizontal.png"%>
			</div>
		</div>

		<div class = "col-md-4">
			<div class="thumbnail">
				<%= image_tag "vertical.png"%>
			</div>
		</div>

    </div>

</div>