<div class = "edit_class" style ="text-align: right; margin-right: 60px; color: #343838;">
  <%=link_to edit_project_path(:project_id => project) do %> 
    <%= fa_icon "edit 4x" %>
    <br>
     view
     <br>
     project 
  <% end %>
</div>