<div class = "add_block_btn edit_class" style ="text-align: right; color: #343838;">
  <%=link_to edit_project_path(:project_id => project) do %> 
    <%= fa_icon "edit 4x" %>
    <br>
     edit
     project 
  <% end %>
</div>