$(document).ready(function(){
  // Add one page scroll to the project page
  $("#sidebar").hide();
  $("[rel=tooltip]").tooltip();

  // Instantiate a BlockList to hold all the blocks (js representation) for this project 
  project_blocks = BlockList();

  $(".main").onepage_scroll();

  // Initialize title and description as medium editable elements, with content from project
    var proj_title_medium = new Medium({
      element: document.getElementById('proj-title'),
      mode: 'inline',
      maxLength: 30,
      placeholder: 'Project title'
    });
    
    var proj_desc_medium = new Medium({
      element: document.getElementById('proj-description'),
      mode: 'partial',
      maxLength: 100,
      placeholder: 'Project subtitle'
    });

    // populate the title and description fields if appropriate
    <% if can_show? @project.title %>
      $('#proj-title').html("<%= @project.title.html_safe %>");
    <% end %>

    <% if can_show? @project.description %>
      $("#proj-description").html("<%= @project.description.html_safe %>");
    <% end %>

    // save the title and description when it loses focus
    $("#proj-title").blur(function() {
      var updated_title = $(this).html();
      console.log("Updated Title: " + updated_title);
      if (proj_title_medium.isEmpty()) {
        updated_title = "";
      }
      $("#project_title").val(updated_title);
    });

    $("#proj-description").blur(function() {
      var updated_description = $(this).html();
      console.log("Updated Description: " + updated_description);
      if (proj_desc_medium.isEmpty()) {
        updated_description = "";
      }
      $("#project_description").val(updated_description);
    });

  update_block_with_resource = function (bid, partial, res_pos, res_type, res_id) {
    var block = project_blocks.get_block(bid);
    block.update_resource(res_pos, res_type, res_id, partial);
    // var tid = block.get_template();
    // if (tid === 1) { // Single Resource Template

    // } else if (tid === 2) { // Left/Right Template

    // } else if (tid === 3) { // Top/Bottom Template

    // }
  };


  // Create a new section for one page scrolling
  create_section = function(new_section_html, block_id){
    //determine how to color the section based on the index (number of sections already created)
    console.log("Creating section for block "+block_id+"...");
    // Create a js representation of a block and its resources for this section
    var block_for_section = project_blocks.create_and_add_block(block_id);

    var section_color = function(hex){
      hex = typeof hex !== 'undefined' ? hex : false;
      colors = ['gray', 'white'];
      hex_colors = ["#ecf0f1", "#fff"];
      if (hex){
        section_index = ($('section').length) % 2;
        return hex_colors[section_index];
      }
      section_index = ($('section').length + 1) % 2;
      return colors[section_index];
    }; 

    //add the chevron/down arrow and div to go down to next section
    $('#onepage section:last').append('<div class="bottom-hint-'+ section_color()+'"><i class="fa fa-chevron-down"></i></div><div class="bottom-padding-'+section_color()+'"></div>');

    $('#onepage section:last').append('<div class="bottom-hint bottom-hint-'+ section_color()+'"><i class="fa fa-chevron-down"></i></div><div class="bottom-padding bottom-padding-'+section_color()+'"></div>')

    //adds the section (method in jquery.onepage-scroll)
    $('.main').addSection();

    $('#onepage section:last').css("background-color",section_color(true));

    //---Append description to the section--//
    $('#onepage section:last').append(new_section_html);
    $("#sidebar").show();

    //----Append the 'add section' button to end of section--//
    $('#onepage section:last').append($('<%= j render "plusBlock" %>'));

    block_for_section.on_resource_positions_ready();
    block_for_section.on_form_ready();

    var curr = null;
    // template choice divs
    var horizontal = $("#horizontal-" + block_id);
    var vertical = $("#vertical-" + block_id);
    var center = $("#center-" + block_id);

    // chosen template div
    var chosen_horizontal = $("#chosen_horizontal_" + block_id);
    var chosen_vertical = $("#chosen_vertical_" + block_id);
    var chosen_center = $("#chosen_center_" + block_id);
    
    // sidebar template div
    var sidebar_horizontal = $("#chosen_sidebar_horizontal_" + block_id);
    var sidebar_vertical = $("#chosen_sidebar_vertical_" + block_id);
    var sidebar_center = $("#chosen_sidebar_center_" + block_id);

    var reset = function(){
      $("#template_selection_heading").remove();
      horizontal.hide();
      vertical.hide();
      center.hide();
    }

    chosen_horizontal.hide();
    chosen_center.hide();
    chosen_vertical.hide();

    $(horizontal).click(function() {
      curr = chosen_horizontal;
      console.log("I am in horizontal");
      reset();
      chosen_horizontal.fadeIn();
    });


    $(vertical).click(function() {
      curr = chosen_vertical;
      console.log("I am in vertical");
      reset();
      chosen_vertical.fadeIn();
    });

    $(center).click(function() {
      curr = chosen_center;
      console.log("I am in center");
      reset();
      chosen_center.fadeIn();
    });


    $(".sidebar_double_horizontal").tooltip({ content: "Horizontal Template" });
    $(sidebar_horizontal).click(function() {
       if (curr == null){
        reset();
      }
      if (curr != chosen_horizontal) {
        $(curr).hide();
        curr = chosen_horizontal;
        $(curr).fadeIn();
      }
    });

    $(".sidebar_double_vertical").tooltip({ content: "Vertical Template" });
    $(sidebar_vertical).click(function() {
      if (curr == null){
        reset();
      }
      if (curr != chosen_vertical) {
        $(curr).hide();
        curr = chosen_vertical;
        $(curr).fadeIn();
      }
    });

    $(".sidebar_single_centered").tooltip({ content: "Single Resource Template" });
    $(sidebar_center).click(function() {
       if (curr == null){
        reset();
      }
      if (curr != chosen_center) {
        $(curr).hide();
        curr = chosen_center;
        $(curr).fadeIn();
      }
    });

  };

         
});