<!-- primary author: isabellat -->
<script type="text/javascript">
  <%= render 'showHelper.js.erb' %>
</script>

<div class="onepage-body" >
  <div id="onepage" class="main" >
    <section class="project_header" style="background-color:#78BAE2">
      <div class="margin_top">
        <div class="container portfolio_name_area">
          <div class="row">
            <div class="col-md-10">
              <div class="media" style="margin-top:20px;">
                <a class="pull-left" href="#">
                  <img class="media-object img-rounded portfolio_user_image" style="width: 75px; height: 75px;" src=<%= @project.get_owner.image_url %> alt="Sample Image">
                </a>
                <div class="media-body">
                  <h1 class="media-heading name" style="margin-left:5px; color:#343838; font-weight:500;"><%= @project.get_owner.fullname%></h1>
                </div>
              </div>
            </div>
            <div class="col-md-2">
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="title-box">
                <div id="proj-title" class="usrinput medium-title"> </div> 
                <div id="proj-description" class="usrinput medium-subtitle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-hint bottom-hint-gray">
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="bottom-padding bottom-padding-gray"></div>
    </section>
    <%
      count = 1 
      last = false
      @blocks.each do |block| 
        color = section_color(count+1)
        color_hex = section_color_hex(count)
        if count == @blocks.length
          last = true
        end
        count+= 1
    %>
    <%= render partial: "blocks/block", locals: {block: block, color_name: color, color_hex: color_hex , last: last} %>
    <% end %>

  </div>
</div>

