@import "bootstrap";
body{
    padding-top: 48px; 
    color:#2c3e50;
    font-family: 'Varela Round', sans-serif;
}
.navbar{
    z-index:1000;
    border-radius: 0;
    position: fixed;
    width:100%;
}
.navbar-accent{
    margin-bottom:-1px;
    height:10px;
    background:#005F6B;
    
}
.nav-img{
  border-radius:3px;
  margin-top:-2px; 
  margin-right:2px; 
  height:28px;
}

#welcome{
  background: url(image_path('hackathon.png')) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-centered{text-align: center;}
.no-margin{margin: 0;}

#sessions_new_image {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 100%; 
    height: 100%;
}

#sessions_new_image img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    max-width: 100%;
    max-height: 100%;
}

#sign_up_form .field input{
    width: 200px;
    height: 200px;
}

.form_field{
    padding-top: 300px;
}

.home_page_div {
    background-image: url("/home_page.jpg");
    height: 100%;
}

.portfolio_name{
    padding-top: 30px;
}


html, body {
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color:#FF0000
}

.add-space {
    padding: 30px;
    margin: 10px;
}


.row {
    vertical-align:middle;
}

.text-box {
    border-style:solid;
    border-color:#000000;
    vertical-align: text-bottom;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {

    display: block;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
  overflow: hidden;                 /*Added this line*/
  max-height: 34px;                 /*Added this line*/
}
.fileupload .fileupload-preview {   /*Added this line*/
  line-height: 21px;                /*Added this line*/
}                                   /*Added this line*/

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
  overflow: hidden;                 /*Added this line*/
  max-height: 34px;                 /*Added this line*/
}
.fileupload .fileupload-preview {   /*Added this line*/
  line-height: 21px;                /*Added this line*/
}                                   /*Added this line*/
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

.half-width {
    width: 50%;
}


/* //////////////////////// NEW BLOCK TEMPLATE AND SIDEBAR ////////////////////////////// */

/* css code for the divs that allow a user to choose a template upon block creation */
/* primary author: anuhyag */

.template_choice_outer_square{
  width: 350px;
  height: 350px;
  border: 2px dashed;
  border-color: #a9afb4;
}

.template_choice_horizontal{
  display: inline-block;
  margin-top: 125px;
  margin-left: 40px;
  margin-right:20px;
  width: 100px;
  height: 100px;
  background-color: #78BAE2;
  float:left; 
}

.template_choice_vertical{
  margin-left: 125px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: #78BAE2; 
}

.template_choice_center{
  display: inline-block;
  margin:125px;
  width: 100px;
  height: 100px;
  background-color: #78BAE2;
  float:left;
}

/* css code for the sidebar that allows a user to toggle between templates */
/* primary author: anuhyag */

.sidebar {
  position:absolute;
  left:10px; top:60px; bottom: 0;
  width: 45px;
}

.sidebar_horizontal_square{
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
  width: 35px;
  height: 35px;
  border: 1px;
  border-color:#a9afb4;
  border-style:hidden dashed dashed dashed;
}

.sidebar_horizontal_smaller_square{
  display: inline-block;
  margin: 3px;
  width: 10px;
  height: 10px;
  background-color: #78BAE2;
  float:left;
}

.sidebar_vertical_square{
  width: 35px;
  height: 35px;
  border: 1px;
  border-color:#a9afb4;
  border-style:dashed dashed dashed dashed;
}

.sidebar_vertical_smaller_square{
  margin-left: 10px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  width: 10px;
  height: 10px;
  background-color: #78BAE2;
}

.sidebar_center_square{
  padding: 8px;
  width: 35px;
  height: 35px;
  border: 1px;
  border-color:#a9afb4;
  border-style:hidden dashed dashed dashed;
}

.outer_square{
    width: 350px;
    height: 350px;
    border: 2px dashed;
}

.codeSubmitButton {
    float: none;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
 }

.centeredText {
 text-align: middle;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

