@import "bootstrap";

#sessions_new_image {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#sessions_new_image img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#sign_up_form .field input{
	width: 200px;
	height: 200px;
}

.form_field{
	padding-top: 300px;
}

.home_page_div {
	background-image: url("/home_page.jpg");
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
}


.add-space [class*="span"] {
    padding: 30px;
}

.row {
    height: 100%;
    vertical-align:middle;
}

.text-box {
  border-style:solid;
  border-color:#000000;
  vertical-align: text-bottom;
}
