@import "bootstrap"; 
body{
	color:#2c3e50;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.navbar{
	z-index:1000;
	border-radius: 0;
	position: fixed;
	width:100%;
	padding: 0 20px;
}
.navbar-accent{
	z-index:10000;
	margin-bottom:0px;
	height:60px;
	background:#1abc9c;
	
}
.section{
	padding-top: 58px;
}
.text-centered{text-align: center;}
.no-margin{margin: 0;}
.feature-desc{
	text-align:center;
}
.welcome{
	font-size:55px;
	font-weight:bold; 
	color:#1abc9c;
}
.intro-box{
	position:absolute;
	margin-top:10%;
}
.logo{
	width:100%;
	position:absolute;
	margin-top:11%;
}
.main-intro{
	font-weight:bold; 
	font-size:35px;
	color:#f39c12
}
.subtitle{
	font-size:25px;
	color:#f39c12;
}
.github-signin{
	margin-top:50px;
}
.showcase-item{
}
	.showcase-item .showcase-item-box{
		position:absolute;
		margin-top:15%;
	}

.icon{
	width:100%;
	padding: 0 70px;
}
.person-icon{
	width:100%;
	padding: 0 30px;
}
.section-title{
	color:#1abc9c;
	font-weight:bold;
	font-size:35px;
}
.feature-desc{
	font-size:20px; 
	padding: 20px 80px; 
	margin-top:350px; 
	text-align:center;
	font-weight:bold;
}
.feature-desc-orange{
	color:#f39c12;
}
.person-desc{
	font-size:20px; 
	padding: 20px 80px; 
	margin-top:10px; 
	text-align:center;
	font-weight:bold;
}
.person-desc-orange{
	color:#f39c12;
}