// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio_image {
    width: auto;
    height: 250px;
    display: block;
    vertical-align: middle;
}
.person_section{
    margin-top:40px; 
    margin-bottom:60px
 }
.portfolio_user_image {
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.name{
    color:#bdc3c7; 
    font-size:80px; 
    margin-left:20px
}

.portfolio_user_image_container {
}

.portfolio_name{
    font-weight:200;
    font-size:70px;
    color:#bdc3c7;
}
.add_project{
    margin-top:10px;
}

.top-space{
     padding:40px 0px;
}
.add-proj-btn{
    margin-bottom:40px
}

.overview {
    border-style: solid;
    border-radius: 4px 4px 0 0;
    border-color: #000;
    border-width: 3px;
}