// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio_image {
    width: auto;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.portfolio_user_image {
    width: 100px;
    height: 100px;
    float: right;
    background-color: #fff;
    border: 5px solid black;
}

.portfolio_user_image_container {
    padding-top: 30px;
}
.portfolio_name{
    color:#000000;
}
.add_project{
    margin-top:10px;
}

.overview {
    border-style: solid;
    border-radius: 4px 4px 0 0;
    border-color: #000;
    border-width: 3px;
}