// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-box{
	margin-top:50px;
}

.add_block_btn{
	position:absolute;
	bottom:0;
	right:0;
	padding:30px 40px;
  	color:#7f8c8d;
  	text-decoration:none;
  	text-align:center;
}

.add_block_btn:hover{
  	color:#000;
}

.add-img-icon{
  	width:50%;
  	height:50%;
 }