<!-- # Primary Author: ryan -->
<%= bootstrap_form_for(@image) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>



  <div class="form-group">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-group">
        <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i> 
          <span class="fileupload-preview"></span>
        </div>
        <div class="input-group-btn">
          <a class="btn btn-default btn-file">
            <span class="fileupload-new">Select file</span>
            <span class="fileupload-exists">Change</span>
            <input id="image_content" name="image[content]" type="file" class="file-input"/></a>
            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
      </div>
    </div>
  </div>




  <div class="actions">
    <%= f.submit "Embed Image", class:"btn btn-primary" %>
  </div>
<% end %>
