<!-- # Primary Author: ryan -->
<% 
    image_src = image.content.url || "/test.jpg"
%>

<div class="thumbnail span5" style="border: 5px solid black;">
    <img src= <%= image_src %> alt="Sample Image">
</div>
