<!--  Primary Author: saylorp -->
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-inner">
        <div class="navbar-header">
            <a class="navbar-brand" id="logo" href=<%= root_path %> > Portfl.io</a>
        </div>
    </div>
</nav>